<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="artur" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Artur Configuration</label>
			<tab>sales</tab>
			<resource>Gasperhafner_CustomersProducts::config_gasperhafner_customersproducts</resource>

			<group id="config" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Artur Configuration</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="environment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Environment</label>
					<source_model>Gasperhafner\CustomersProducts\Model\Config\Source\Environments</source_model>
				</field>
				<field id="test_email_address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Test email address</label>
					<comment>For testing purposes. If set, all email will be sent to this address (and none to your customers).</comment>
				</field>
				<field id="username" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Username</label>
				</field>
				<field id="password" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="password">
					<label>Password</label>
					<config_path>gasperhafner/config/password</config_path>
				</field>
				<field id="company_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Web store ID</label>
					<comment>This ID should be generated by Artur.com app and sent to you together with username and password details</comment>
				</field>
				<field id="review_option" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Review option</label>
					<source_model>Gasperhafner\CustomersProducts\Model\Config\Source\ReviewOptions</source_model>
				</field>
				<field id="send_product_review_after_hours" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Send products review invitation email delay</label>
					<comment>Set after how many hours the email invitation to review products is sent. Only if review option above is set to "Web store and products" or "Products only"</comment>
				</field>
				<field id="send_after_hours" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Send web store review invitation email delay</label>
					<comment>Set after how many hours the email to review store is sent. Only if review option above is set to "Web store and products" or "Web store only"</comment>
				</field>
			</group>
		</section>
	</system>
</config>
